SUPABASE_DB_PASSWORD = XXXXXX

# https://supabase.com/dashboard
NEXT_PUBLIC_SUPABASE_URL=https://xxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xxxxxx

SUPABASE_SERVICE_ROLE_KEY=xxxxxx

# https://resend.com
RESEND_API_KEY=re_xxxxxx

NEXT_PUBLIC_APP_URL=http://localhost:3000